<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TeleHealthConnect</title>
    <link rel="stylesheet" href="style.css" />
    <!-- here, we are linking our css with the html-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <!-- here, we are linking our google fonts with the html-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://kit.fontawesome.com/d510096626.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.2/uicons-brands/css/uicons-brands.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <section class="home" id="home">
<div class="header" id="header">
  <div class="logo"></div>
    <p class="WebName">TeleHealthConnect</p>
    <div class="contactInfo">
      <div class="phoneNumber" >
        <i class="fa-solid fa-phone"></i>
        <a href="tel:+254704004046">+254704004046</a>
      </div>
      <div class="email">
        <i class="fa-regular fa-envelope"></i>
        <a href ="mailto:erickgitau250@gmail.com">erickgitau250@gmail.com</a>
      </div>
      <div class="facebook">
        <i class="fa-brands fa-facebook-f"></i>
      </div>
      <div class="twitter">
        <i class="fa-brands fa-twitter"></i>
      </div>
      <div class="LinkedIn">
        <i class="fa-brands fa-linkedin-in"></i>
      </div>
    </div>
    <div class="links">
      <a href="#home">HOME</a>
      <a href="#about">ABOUT US</a>
      <a href="#products">PRODUCTS AND SERVICES</a>
      <a href="#blog">BLOG</a>
       
      
     
      
    </div>
    <div class="portalCont">
      <a class="portal2" href="http://127.0.0.1:5500/portal.html" target="_blank"> 
        <p>PORTAL</p>
        <div class="portalArrow"> 
          <i class="fa-solid fa-chevron-right"></i>
        </div>
      </a>
    </div>
    <div class="dropdown">
      <button class="menu"  > <i id="menuicon"  class="fa-solid fa-bars"></i></button>
      <div class="dropdown-content">
        <a href="#home">HOME</a>
        <a href="#about">ABOUT US</a>
        <a href="#products">PRODUCTS AND SERVICES</a>
        <a href="#blog">BLOG</a>
        
      </div>
  </div>
</div>

       <div class="HeadersParagraph">
        <h1 class="header1">Get Better Care For Your </h1>
        <h1 class="header2">Health.</h1>
        <p class="paragraph">
          Experience healthcare reimagined. Our telemedicine platform connects you with top-tier doctors from the comfort of your home. With just a few clicks, you can consult with specialists, get expert diagnoses, and receive personalized treatment plans. Say goodbye to long wait times and inconvenient clinic visits. Your health, our priority.
        </p>
       </div>
       <div class="otherContainer">
        <div class="div1"> </div>
        <div class="div2"></div>
        <div class="div3"></div>
       </div>
     
    </section>
<section class="about" id="about">
  <h1>ABOUT US</h1>
<div class="aboutPhoto"></div>
<div class="aboutParagraph">
  <h3>Redefining Healthcare, One Consultation at a Time.</h3>
  <p> At TeleHealthConnect, we believe in making quality healthcare accessible to everyone. Our telemedicine platform connects you with experienced healthcare providers from the comfort of your home. With just a few clicks, you can consult with doctors, specialists, and mental health professionals, receive expert diagnoses, and get personalized treatment plans.</p>
  <h3>Our Mission:</h3>
  <ul>
    <li>To provide top-notch healthcare services that are convenient, affordable, and effective.</li>
    <li>
      To bridge the gap between patients and healthcare providers, ensuring timely and quality care.
    </li>
    <li>
      To empower individuals to take control of their health and well-being.
    </li>
    
  </ul>
  <h3>Why Choose Us?</h3>
  <ul>
    <li>Convenience: Consult with doctors from anywhere, at any time.</li>
    <li>Privacy and Security: Your health information is our priority. We use advanced security measures to protect your data.</li>
    <li>Expert Care: Access a network of experienced and qualified healthcare providers.</li>
    <li>Affordable Care: Enjoy cost-effective healthcare solutions.</li>
  </ul>
  <p>Experience the future of healthcare today. Book your appointment now!</p>
</div>


</section>
    <section class="products" id="products">
      <!--we are creating a section, containing 4 divs-->
      <h2>PRODUCTS AND SERVICES</h2>
      <div id="container">

        <div class="oneDiv"> 
           <a href="#" target="_blank" id="one" class="div"> 
          <div >
            <p>DOCTOR CONSULTATION</p>
          </div>
        </a>
        <p class="DivParagraph">Access quality healthcare from anywhere, anytime. Our telemedicine platform connects you with top doctors for expert consultations, diagnoses, and personalized treatment plans.</p>
      </div>
        <div class="twoDiv">
          <a href="#" id="two" class="div" target="_blank">
            <div >
              <p>PHARMARCY</p>
            </div>
          </a>
          <div class="DivParagraph">
            Need medication? No problem. Our pharmacy services bring prescriptions directly to you. Simply upload your prescription, and our licensed pharmacists will review and process your order. We'll deliver your medication  securely, ensuring you always have access to the care you need.
          </div>
        </div>
        <div class="threeDiv">
          <a href="#" id="three" class="div" target="_blank">
            <div >
              <p>THERAPY</p>
            </div>
          </a>
          <div class="DivParagraph">
            Need emotional support? Our experienced therapists offer confidential online counseling and therapy sessions. Addressng  anxiety, depression, stress, and relationship issues. Experience the benefits of professional therapy from the comfort of your home.
          </div>
        </div>
        <div class="fourDiv"> 
          <a href="#" id="four" class="div" target="_blank">
            <div >
              <p>URGENT CARE</p>
            </div>
          </a>
          <div class="DivParagraph" >
            Experiencing a medical emergency? Our platform helps you connect with immediate medical assistance. Locate and contact the nearest ambulance service with just a few clicks. Our dedicated team is available 24/7 to provide guidance and support during emergencies.
          </div>
        </div>
      
        
       
        
        
       
        
        
      </div>

      
    </section>
    <section class="blog" id="blog">
      <h2>OUR BLOG</h2>
      <div id="blog-container">
        <div class="blog-post">
          <h3>Telemedicine: The Future of Healthcare</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, ullam.</p>
          <a href="#">Read More</a>
        </div>
        <div class="blog-post">
          <h3>How to Prepare for a Virtual Doctor Consultation</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, ullam.</p>
          <a href="#">Read More</a>
        </div>
        <div class="blog-post">
        <h3>Yellow Fever 2024 Report </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <a href="#">Read More</a>
        </div>
        <div class="blog-post">
          <h3>Mpox Report 2024</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
          <a href="#">Read More</a>
        </div>
      </div>
    </section>
    
    


    <section class="footer">
      <div class="footerContainer">
        <div class="footerMap"> 

        </div>
        <div class="overlay">
         

          <div class="footerPartnership">
            <h3>PARTNERSHIP</h3>
            <ul >
              <li>WORLD HEALTH ORGANISATION</li>
              <li>MINISTRY OF HEALTH KENYA </li>
              <li> UNITED NATIONS POPULATION FUNDS</li>
              <li>KENYA HEALTHCARE FEDERATION</li>
              <li>KENYATTA UNIVERSITY TEACHING AND REFERRAL HOSPITAL</li>
              <li>AMREF</li>
            </ul>
          </div>
          <div class="footerCompany">
            <h3>COMPANY</h3>
         <ul>
     <li><a href="">CONTACT US</a></li>
     <li> <a href="">ABOUT US</a></li>
     <li> <a href="">CAREERS</a></li>
     <li> <a href="http://127.0.0.1:5500/AmbulanceSection/ambulance.html" target="_blank">DRIVERS</a></li>
     <li> <a href="">EMPLOYEES</a></li>
     <li><a href="">NEWSLETTER</a></li>

         </ul>
          </div>
          <div class="footerFAQ">
<h3>FREQUENTLY ASKED QUESTIONS</h3>
<ul>
  <li>How does TeleHealthConnect work?</li>
  <li>How do I find an ambulance?</li>
  <li>How do I order medicine via the website?</li>
  <li>Can I get a prescription through telemedicine?</li>
  <li>Is the website account creation free?</li>
  <li>How do i finnf a doctor</li>
</ul>
          </div>
         
        </div>
        <div class="footerCopyright">

        </div>
      </div>
    </section>
   
   
</body>
</html>