{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PATIENT</title>
    <link rel="stylesheet" href=" {% static 'CSS/patients.css' %}">
    <!-- here, we are linking our css with the html-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <!-- here, we are linking our google fonts with the html-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://kit.fontawesome.com/d510096626.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.2/uicons-brands/css/uicons-brands.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet">
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body id="blur">
    <div id="session-data"
    data-patient-id="{{ request.session.user_id }}"
    data-user-type="{{ request.session.user_type }}"
    data-first-name="{{ request.session.first_name }}">
</div>
    <!--Patient's section-->
    <section class="Patient">
      <div class="HeadPat">
        <button class="Patbuttons" id="homePat">Home</button>
        <button class="Patbuttons" id="logoutPat" onclick="logout()">
          Log Out
        </button>
      </div>
      <!-- menu header section -->
      <div class="headerPat">
        <div class="PicturePat">
          <i id="photoPat" class="fa-regular fa-user"></i>
        </div>
        <h3 class="greetingsPat">Welcome,</h3>
        <h3 id="usernamePat">User</h3>
        <!--Menu section-->
        <div class="containerPat">
          <div
            class="appointmentsPat"
            onclick="toggleSlidePat('appointmentPatContent')"
          >
            <i id="appointmentsPat" class="fa-regular fa-calendar-check"></i>
            <p>Appointments</p>
          </div>

          <div class="pharmacy" onclick="toggleSlidePat('pharmacyContent')">
            <i id="pharmacy" class="fa-solid fa-tablets"></i>
            <p>Pharmacy</p>
          </div>
          <div class="therapy" onclick="toggleSlidePat('therapyContent')">
            <i id="therapy" class="fa-solid fa-people-arrows"></i>
            <p>Therapy</p>
          </div>
          <div class="emergency" onclick="toggleSlidePat('emergencyContent')">
            <i id="emergency" class="fa-solid fa-truck-medical"></i>
            <p>Emergency</p>
          </div>

          <div
            class="settings"
            onclick="toggleSettingsPat('settingsContentPat')"
          >
            <i id="settings" class="fa-solid fa-gear" aria-label="Settings"></i>
            <p>Settings</p>
          </div>
        </div>
      </div>

      <div class="TheContentPat">
        <div class="slidingPatContent" id="appointmentPatContent">
          <div class="TheContentPatContainer">
            <div class="book"  onclick="toggle1()">
              <p>Book An Appointment</p>
            </div>
            <div class="schedule"  onclick="toggle2()">
            <p> Appointment Schedule</p>
            </div>
          </div>
        </div>

        <div class="slidingPatContent" id="pharmacyContent">
         <div class="trolly">
          
           <img src="{% static '\Icons\wired-outline-146-trolley-hover-jump.gif' %}" alt="Lordicon GIF">
         </div>
         <div class="searchBar">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="text" placeholder="Search for Medicine">
         </div>
         <div class="prescription">
          <i id="prescriptionIcon" class="fa-solid fa-list"></i>
         </div>
         <div class="DrugsContainer">
         
         </div>
       
    
              </div>
        <div class="slidingPatContent" id="therapysContent">
          <p>Coming Up soon</p>
        </div>
        <!--Ambulance section-->
        <div class="slidingPatContent" id="emergencyContent">
          <p id="text">Search For An Ambulance</p>
          <div class="ambulanceContainer">
           <div class="orbit"></div>
            <span class="ambulanceParent">
              <i id="ambulance" class="fa-solid fa-truck-medical"></i>
            </div>
          </div>
        </div>

        <div class="settingsPatContent" id="settingsContentPat">
         
          <div class="preferencesPat">
            <i class="fa-solid fa-sliders"></i>
            <p>Preferences</p>
            <i id="arrow" class="fa-solid fa-arrow-right"></i>
          </div>
          <div class="AccountManagementPat" onclick="toggle3()">
            <i class="fa-regular fa-user"></i>
            <p>Account Management</p>
            <i id="arrow" class="fa-solid fa-arrow-right"></i>
          </div>
          <div class="helpAndSupportPat">
            <i class="fa-regular fa-circle-question"></i>
            <p>Help And Support</p>
            <i id="arrow" class="fa-solid fa-arrow-right"></i>
            
          </div>
          {% csrf_token %}
          <div class="DeleteAccountPat">
            <i class="fa-solid fa-trash"></i>
            <p>Delete Account</p>
            <i id="arrow" class="fa-solid fa-arrow-right"></i>
          </div>
        </div>
      </div>

      <!--Patient popups Section-->

      <div class="TheContentPatPopups">
        <!--For booking an appointment-->
        <div class="container" id="popupPat">
          <h2>Book an Appointment</h2>
          <div>
            <i id="cancel" onclick="toggle1()" class="fa-solid fa-xmark"></i>
          </div>
          <form id="appointmentForm">
            {% csrf_token %}
            <div>
              <label for="appointmentType" class="appointmentType"
                >Type of Appointment:</label
              >
              <select id="appointmentType" name="appointmentType" required>
                <option value="" disabled selected>
                  Select appointment type
                </option>
                <option value="general">General</option>
                <option value="dermatology">Dermatology</option>
                <option value="emergency">Emergency</option>
                <option value="pediatric">Pediatric</option>
                <option value="nutrition">Nutrition and Dietetic</option>
                <option value="infectious">Infectious Disease</option>
              </select>
            </div>

            <div>
              <label for="doctor" class="doc">Preferred Doctor:</label>
              <select id="doctor" name="doctor" required>
                <option value="" disabled selected>Select a doctor</option>
                <option value="dr-smith">Dr. Smith</option>
                <option value="dr-johnson">Dr. Johnson</option>
                <option value="dr-williams">Dr. Williams</option>
              </select>
            </div>

            <div>
              <label for="appointmentDate" class="appointmentDate">Date:</label>
              <input
                type="date"
                id="appointmentDate"
                name="appointmentDate"
                required
              />
            </div>

            <div>
              <label for="appointmentTime" class="appointmentTime">Time:</label>
              <input
                type="time"
                id="appointmentTime"
                name="appointmentTime"
                required
              />
            </div>

            <div>
              <label for="communicationType" class="communicationType"
                >Communication Type:</label
              >
              <select id="communicationType" name="communicationType" required>
                <option value="" disabled selected>
                  Select communication type
                </option>
                <option value="zoom">Zoom</option>
                <option value="call">Call</option>
                <option value="physical">Physical</option>
              </select>
            </div>

            <div>
              <label for="paymentType" class="paymentType">Payment Type:</label>
              <select id="paymentType" name="paymentType" required>
                <option value="" disabled selected>Select payment type</option>
                <option value="paypal">PayPal</option>
                <option value="mpesa">M-Pesa</option>
              </select>
            </div>

            <div>
              <label for="agreeTerms" class="agreeTerms">
                <input
                  type="checkbox"
                  id="agreeTerms"
                  name="agreeTerms"
                  required
                />
                I agree to the terms and conditions
              </label>
            </div>

            <button type="submit" class="appSub">Book Appointment</button>
          </form>
        </div>

        <!--For viewing the appointments-->
        <!--Appointment section display-->
        <div class="upcoming"  >
         <div id="cancel2"> <i  onclick="toggle2()" class="fa-solid fa-xmark"></i></div>
          <table id="appointmentTable">
            <thead id="Thead">
              <tr id="mainRow">
                <th>Appointment ID</th>
                <th>Doctor Name</th>
                <th>Appointment Date</th>
                <th>Appointment Time</th>
                <th>Appointment Type</th>
                <th>Communication Type</th>
                <th>Payment Type</th>
                <th>Actions</th>
                <!-- For Edit/Delete -->
              </tr>
            </thead>
            <tbody id="Tbody"></tbody>
          </table>
        </div>

        <!--edit section here-->

        
        <div id="EditSection">
          <div  onclick="showDiv()"><i id="cancelEdit" class="fa-solid fa-xmark"></i></div>
          <form id="AppointmentEditForm">
            <label for="appointmentTypeEdit" class="appointmentTypeEdit"
              >Type of Appointment:</label
            >
            <select
              id="appointmentTypeEdit"
              name="appointmentTypeEdit"
              required
            >
              <option value="" disabled selected>
                Select appointment type
              </option>
              <option value="general">General</option>
              <option value="dermatology">Dermatology</option>
              <option value="emergency">Emergency</option>
              <option value="pediatric">Pediatric</option>
              <option value="nutrition">Nutrition and Dietetic</option>
              <option value="infectious">Infectious Disease</option>
            </select>

            <label for="doctorEdit" class="docEdit">Preferred Doctor:</label>
            <select id="doctorEdit" name="doctorEdit" required>
              <option value="" disabled selected>Select a doctor</option>
              <option value="dr-smith">Dr. Smith</option>
              <option value="dr-johnson">Dr. Johnson</option>
              <option value="dr-williams">Dr. Williams</option>
            </select>

            <label for="appointmentDateEdit" class="appointmentDateEdit"
              >Date:</label
            >
            <input
              type="date"
              id="appointmentDateEdit"
              name="appointmentDateEdit"
              required
            />

            <label for="appointmentTimeEdit" class="appointmentTimeEdit"
              >Time:</label
            >
            <input
              type="time"
              id="appointmentTimeEdit"
              name="appointmentTimeEdit"
              required
            />

            <label for="communicationTypeEdit" class="communicationTypeEdit"
              >Communication Type:</label
            >
            <select
              id="communicationTypeEdit"
              name="communicationTypeEdit"
              required
            >
              <option value="" disabled selected>
                Select communication type
              </option>
              <option value="zoom">Zoom</option>
              <option value="call">Call</option>
              <option value="physical">Physical</option>
            </select>

            <label for="paymentTypeEdit" class="paymentTypeEdit"
              >Payment Type:</label
            >
            <select id="paymentTypeEdit" name="paymentTypeEdit" required>
              <option value="" disabled selected>Select payment type</option>
              <option value="paypal">PayPal</option>
              <option value="mpesa">M-Pesa</option>
            </select>
            <button id="EditSubmit">Submit</button>
          </form>
        </div>
      </div>

      <!--Settings Popup section-->

      <div class="settingContentPopups">
        <!-- Modal or a section for updating email and password -->
        <div id="updateAccountModal" class="modal">
          <div class="modal-content">
            <div class="closeModal" onclick="toggle3()">
              <i class="fa-solid fa-xmark"></i>
            </div>
            <h2>Update Account Information</h2>
            <form id="updateAccountForm">
              {% csrf_token %}
              <!-- email section-->
              <div>
                <label for="newEmail" class="newEmail">New Email:</label>
                <input
                  type="email"
                  id="newEmail"
                  placeholder="Enter new email"
                  name="newEmail"
                  required
                />
              </div>
              <span class="errorEdit" id="emailEdit"></span>
              <!-- Current section-->
              <div>
                <label for="currentPassword" class="currentPassword"
                  >Current Password:</label
                >
                <input
                  type="password"
                  id="currentPassword"
                  placeholder="Enter current password"
                  name="currentPassword"
                  required
                />
              </div>
              <span class="errorEdit" id="currentPasswordEdit"></span>

              <!--New password-->
              <div>
                <label for="newPassword" class="newPassword"
                  >New Password:</label
                >
                <input
                  type="password"
                  id="newPassword"
                  placeholder="Enter new password"
                  name="newPassword"
                  required
                />
              </div>
              <span class="errorEdit" id="newPasswordEdit"></span>
              <!-- confirm password-->
              <div>
                <label for="confirmPassword" class="confirmPassword"
                  >Confirm New Password:</label
                >
                <input
                  type="password"
                  id="confirmPassword"
                  placeholder="Confirm new password"
                  name="confirmPassword"
                  required
                />
              </div>
              <span class="errorEdit" id="confirmPasswordEdit"></span>

              <!-- submission button-->
              <button type="submit" id="Editsub">Update Account</button>
            </form>
          </div>
        </div>
      </div>
    </section>
  <script src=" {% static "JS/patients.js" %}"> </script>
    </body>

    </html>